<html>

<head>
	<title>Prueba</title>
	<link rel="stylesheet" href="/assets/css/animation.css" />
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="/assets/css/coin.css" />
	<link rel="stylesheet" href="/libs/jquery-file-upload/css/jquery.fileupload.css" />
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	<div id="background0">
	</div>
	<div id="background1">
	</div>
	<div id="background2">
	</div>
	<div id="background3">
	</div>
	<div id="vehicle" class="vehicle vehicle-animation vehicle-animation-mv">
         <img id="car" name ="car" class="img-responsive center-block " ng-src="{{vm.data.group.transport.downloadUrl}}" alt="car" onclick="imgClick(this)" />
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="mTest">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close warning" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	        <img id="imgPreview" src="" class="image-responsive center-block" />
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<audio autoplay>
		<source src="/assets/music/music1.mp3" type="audio/ogg">
		Your browser does not support the audio element.
	</audio>
	<script src="/libs/jquery/jquery.js"></script>
	<script src="/assets/js/choy.js"></script>
	<script src="/assets/js/animation.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.js"></script>

	<script src="/libs/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
	<script src="/libs/blueimp-load-image/js/load-image.all.min.js"></script>
	<!-- The Canvas to Blob plugin is included for image resizing functionality -->
	<script src="/libs/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	<script src="/libs/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	<!-- The basic File Upload plugin -->
	<script src="/libs/jquery-file-upload/js/jquery.fileupload.js"></script>
	<!-- The File Upload processing plugin -->
	<script src="/libs/jquery-file-upload/js/jquery.fileupload-process.js"></script>
	<!-- The File Upload image preview & resize plugin -->
	<script src="/libs/jquery-file-upload/js/jquery.fileupload-image.js"></script>
	<!-- The File Upload audio preview plugin -->
	<script src="/libs/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
	<!-- The File Upload video preview plugin -->
	<script src="/libs/jquery-file-upload/js/jquery.fileupload-video.js"></script>
	<!-- The File Upload validation plugin -->
	<script src="/libs/jquery-file-upload/js/jquery.fileupload-validate.js"></script>

	<script src="/libs/angular/angular.js"></script>
	<script src="/libs/angular/angular-route.js"></script>

	<script>
		
	function imgClick(param){
		var imgSrc = $(param).attr("src");
		//console.log(imgSrc);
		$('#imgPreview').attr("src",imgSrc);
		$('#mTest').modal('show');
	}


	</script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-80987508-1', 'auto');
	  ga('send', 'pageview');
	</script>

</body>

</html>