<nav class="navbar">
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img class="img-responsive center-block  pull-left hvr-buzz" src="/assets/images/common/logo_rally.png" alt="rally" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
            />
        </div>
    </div>
</nav>

<div class="container">

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-klgoffset-1">
        <div class="center-block">
            <h1 class="white-font">Actualiza tus datos <span class="glyphicon glyphicon-edit"> </span></h1>
            <div class="form-group">
                <label class="jLabel">Centro educativo:</label>
                <input type="text" name="inputInstitution"  id= "inputInstitution" class="form-control input-lg" placeholder="Centro educativo" ng-model="institution" required/>
            </div>

            <div class="row">
            <a class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow" href="#continuar" ng-click="vm.saveInstitution(institution);">
                <span class="glyphicon glyphicon-ok-sign"></span> Continuar 
            </a>
            </div>
    </div>
    </div>
</div>

<div id="bottom">
    <div class="container">
    </div>
</div>


