
<nav class="navbar">
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img class="img-responsive center-block  pull-left hvr-buzz" src="/assets/images/common/logo_rally.png" alt="rally" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
            />
        </div>
    </div>
</nav>

<div class="container">

<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.15208" type="text/javascript"></script>
<script type="text/javascript"> JotForm.init(function(){ JotForm.alterTexts({"alphabetic":"Este campo solo puede contener letras","alphanumeric":"Este campo solo puede contener letras y números.","ccInvalidCVC":"El número CVC no es válido.","ccInvalidExpireDate":"La fecha de expiración no es válida","ccInvalidNumber":"su número de terjeta de crédito no es válido","ccMissingDetails":"Por favor rellene los datos de su Tarjeta de Crédito","ccMissingDonation":"Ingresa por favor una cantidad a donar","ccMissingProduct":"Por favor seleccione al menos un producto.","characterLimitError":"Too many Characters. The limit is","characterMinLimitError":"Too few characters. The minimum is","confirmClearForm":"¿Está seguro de querer borra el formulario?","confirmEmail":"Correo electrónico no coincide","currency":"Este campo sólo puede contener valores de moneda","cyrillic":"Este campo solo puede contener caracteres cirílicos","dateInvalid":"Esta fecha no es valida. El formato de fecha es {format}","dateInvalidSeparate":"This date is not valid. Enter a valid {element}.","dateLimited":"Esta fecha no se encuentra disponible.","disallowDecimals":"Por favor, introduzca un número entero.","email":"Introduzca una dirección e-mail válida","fillMask":"El valor de campo debe llenar la mascara","freeEmailError":"Cuentas de correos gratis no se permiten","generalError":"Existen errores en el formulario, por favor corríjalos antes de continuar.","generalPageError":"Hay errores en esta página. Por favor, corríjalos antes de continuar.","gradingScoreError":"El puntaje total debería ser sólo \"menos que\" o \"igual que\"","incompleteFields":"Existen campos requeridos incompletos. Por favor complételos.","inputCarretErrorA":"El valor introducido no puede ser menor que el mínimo especificado:","inputCarretErrorB":"Entrada no debe ser mas grande que el valor maximo:","lessThan":"Tu cuenta debería ser menor o igual que","maxDigitsError":"El máximo de dígitos permitido es","maxSelectionsError":"El número máximo de selecciones es","minSelectionsError":"El número mínimo de selección requerido es","multipleFileUploads_emptyError":"El fichero {file} está vacío; por favor, selecciona de nuevo los ficheros sin él.","multipleFileUploads_fileLimitError":"Solo {fileLimit} carga de archivos permitida.","multipleFileUploads_minSizeError":"{file} is demasiado pequeño, el tamaño mínimo de fichero es: {minSizeLimit}.","multipleFileUploads_onLeave":"Se están cargando los ficheros, si cierras ahora, se cancelará dicha carga.","multipleFileUploads_sizeError":"{file} es demasiado grande; el tamaño del archivo no debe superar los {sizeLimit}.","multipleFileUploads_typeError":"El fichero {file} posee una extensión no permitida. Sólo están permitidas las extensiones {extensions}.","numeric":"Este campo sólo admite valores numéricos","pastDatesDisallowed":"La fecha debe ser futura","pleaseWait":"Por favor, espere ...","required":"Campo requerido.","requireEveryCell":"Todas las celdas son requeridas.","requireEveryRow":"Todas las filas son obligatorias.","requireOne":"Por lo menos un campo requerido","submissionLimit":"¡Lo siento! Sólo se permite una entrada. Múltiples envíos están desactivados para este formulario.","uploadExtensions":"Solo puede subir los siguientes archivos:","uploadFilesize":"Tamaño del archivo no puede ser mayor que:","uploadFilesizemin":"Tamañao de archivo no puede ser menos de:","url":"Este campo solo contiene una URL v&Atilde;&iexcl;lida","wordLimitError":"Too many words. The limit is","wordMinLimitError":"Too few words. The minimum is"}); JotForm.clearFieldOnHide="disable"; JotForm.onSubmissionError="jumpToFirstError"; });
</script>
<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.15208" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.15208" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.15208" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?"/>
<style type="text/css"> .form-label-left{ width:150px !important; } 
.form-line{ padding-top:12px; padding-bottom:12px; } .form-label-right{ width:150px !important; } .form-all{ width:690px; color:#555 !important; 
font-family:'Happy Monkey', cursive !important; 
font-size:14px; }
.form-header-group  {
    font-family: 'Happy Monkey', cursive !important;
}
.form-label {
    font-family: 'Happy Monkey', cursive !important;
}
 .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{ color: #555; } </style> <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_blue.css?3.3.15208"/>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
    <form class="jotform-form" action="https://submit.jotform.co/submit/62839618918876/" method="post" name="form_62839618918876" id="62839618918876" accept-charset="utf-8"> <input type="hidden" name="formID" value="62839618918876" /> <div class="form-all"> <ul class="form-section page-section"> <li id="cid_1" class="form-input-wide" data-type="control_head"> <div style="display: table; width: 100%"> <div class="form-header-group hasImage"> <div class="header-logo"> <img src="https://www.jotform.com/uploads/ideeguatemala/form_files/girl2.png" width="100" class="header-logo-left" /> </div> <div class="header-text httal htvam"> <h2 id="header_1" class="form-header"> Rally Matemático </h2> </div> </div> </div> </li> <li class="form-line" data-type="control_text" id="id_10"> <div id="cid_10" class="form-input-wide"> <div id="text_10" class="form-html"> <p>Contesta las siguientes preguntas</p> </div> </div> </li> <li class="form-line jf-required" data-type="control_radio" id="id_4"> <label class="form-label form-label-left form-label-auto" id="label_4" for="input_4"> Mi clase de matemáticas es muy alegre. <span class="form-required"> * </span> </label> <div id="cid_4" class="form-input jf-required"> <div class="form-single-column"> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_4_0" name="q4_miClase4" value="Sí" /> <label id="label_input_4_0" for="input_4_0"> Sí </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_4_1" name="q4_miClase4" value="A veces" /> <label id="label_input_4_1" for="input_4_1"> A veces </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_4_2" name="q4_miClase4" value="Nunca" /> <label id="label_input_4_2" for="input_4_2"> Nunca </label> </span> </div> </div> </li> <li class="form-line jf-required" data-type="control_radio" id="id_5"> <label class="form-label form-label-left form-label-auto" id="label_5" for="input_5"> En mi clase uso materiales como loterías, pelotas, monedas, cubos, dados o tangram para aprender matemáticas. <span class="form-required"> * </span> </label> <div id="cid_5" class="form-input jf-required"> <div class="form-single-column"> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_5_0" name="q5_enMi" value="Sí" /> <label id="label_input_5_0" for="input_5_0"> Sí </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_5_1" name="q5_enMi" value="A veces" /> <label id="label_input_5_1" for="input_5_1"> A veces </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_5_2" name="q5_enMi" value="Nunca" /> <label id="label_input_5_2" for="input_5_2"> Nunca </label> </span> </div> </div> </li> <li class="form-line jf-required" data-type="control_radio" id="id_6"> <label class="form-label form-label-left form-label-auto" id="label_6" for="input_6"> Trabajo con mis amigos en la clase de matemáticas. <span class="form-required"> * </span> </label> <div id="cid_6" class="form-input jf-required"> <div class="form-single-column"> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_6_0" name="q6_trabajoCon" value="Sí" /> <label id="label_input_6_0" for="input_6_0"> Sí </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_6_1" name="q6_trabajoCon" value="A veces" /> <label id="label_input_6_1" for="input_6_1"> A veces </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_6_2" name="q6_trabajoCon" value="Nunca" /> <label id="label_input_6_2" for="input_6_2"> Nunca </label> </span> </div> </div> </li> <li class="form-line jf-required" data-type="control_radio" id="id_7"> <label class="form-label form-label-left form-label-auto" id="label_7" for="input_7"> Creo que soy muy bueno en matemáticas <span class="form-required"> * </span> </label> <div id="cid_7" class="form-input jf-required"> <div class="form-single-column"> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_7_0" name="q7_creoQue" value="Sí" /> <label id="label_input_7_0" for="input_7_0"> Sí </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_7_1" name="q7_creoQue" value="A veces" /> <label id="label_input_7_1" for="input_7_1"> A veces </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_7_2" name="q7_creoQue" value="Nunca" /> <label id="label_input_7_2" for="input_7_2"> Nunca </label> </span> </div> </div> </li> <li class="form-line jf-required" data-type="control_radio" id="id_9"> <label class="form-label form-label-left form-label-auto" id="label_9" for="input_9"> Me gustaría jugar en la clase de matemáticas. <span class="form-required"> * </span> </label> <div id="cid_9" class="form-input jf-required"> <div class="form-single-column"> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_9_0" name="q9_meGustaria" value="Sí" /> <label id="label_input_9_0" for="input_9_0"> Sí </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_9_1" name="q9_meGustaria" value="A veces" /> <label id="label_input_9_1" for="input_9_1"> A veces </label> </span> <span class="form-radio-item" style="clear:left;"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_9_2" name="q9_meGustaria" value="Nunca" /> <label id="label_input_9_2" for="input_9_2"> Nunca </label> </span> </div> </div> </li> <li class="form-line jf-required" data-type="control_textarea" id="id_11"> <label class="form-label form-label-left form-label-auto" id="label_11" for="input_11"> Te ha gustado el rally, escribe tus comentarios <span class="form-required"> * </span> </label> <div id="cid_11" class="form-input jf-required"> <textarea id="input_11" class="form-textarea validate[required]" name="q11_teHa" cols="40" rows="6"></textarea> </div> </li> <li class="form-line" data-type="control_button" id="id_2"> <div id="cid_2" class="form-input-wide"> <div style="text-align:center" class="form-buttons-wrapper">
         <button id="input_2" type="submit" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow"> Enviar respuestas </button> </div> </div> </li> <li style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </li> </ul> </div> <input type="hidden" id="simple_spc" name="simple_spc" value="62839618918876" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "62839618918876-62839618918876"; </script>
    </form>
</div>
</div>

<script type="text/javascript">JotForm.ownerView=true;</script>


</div>

<div id="bottom">
    <div class="container">
    </div>
</div>






