<div class="welcome">
    </br>
    <nav class="navbar">
        <div class="container">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-left hvr-buzz" src="/assets/images/common/logo_rally.png" alt="rally" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                />
                <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                    <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                </form>
                <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a-->
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1">
                <img id="avatar" name="avatar" class="img-responsive center-block hvr-pulse-grow" ng-src="{{vm.data.group.avatar.downloadUrl}}"
                    alt="piloto" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="row">
                    <div class="col-xs-12 col-sm-12  col-md-offset-3 col-lg-offset-3 col-md-7 col-lg-7">
                        <img class=" img-responsive center-block animated infinite pulse" src="/assets/images/common/bienvenidos.png " alt="bienvenidos"
                        />
                    </div>
                </div>
                <div  ng-show="vm.showGame" class="row text-center">
                    <div  class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4 col-lg-offset-4" ng-if="vm.data.group && vm.data.group.registrations[0] && vm.data.group.registrations[0].rally">
                        <a class="btn btn-default img-thumbnail img-bg hvr-float-shadow" ng-click="vm.hideButton(); vm.config() ">
                            <img class="center-block img-thumbnail-custom" src="/assets/images/welcome/game.png " alt="Jugar" />
                            </br>
                            <h1 class="text-warning"><b>¡Jugar!</b></h2>
                        </a>
                    </div>
                </div>
                <br/>
                <div class="row ">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-4 col-lg-offset-4">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
                                <a ng-href="#help" class="btn btn-default img-thumbnail img-bg hvr-float-shadow">
                                    <img class="center-block img-thumbnail-custom" src="/assets/images/welcome/play.png " alt="Vídeos" />
                                    </br>
                                    <h5 class="text-primary"><b>Tutoriales</b></h5>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
                                <a ng-href="#ranking" class="btn btn-default img-thumbnail img-bg hvr-float-shadow">
                                    <img class="center-block img-thumbnail-custom" src="/assets/images/welcome/ranking.png " alt="Posiciones" />
                                    </br>
                                    <h5 class="text-danger"><b>Posiciones</b></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="bottom">
        <div class="container">
        </div>
    </div>
</div>

<script>
    var images=new Array('/assets/images/land/land.png','/assets/images/land/panama.jpg','/assets/images/land/peru.jpg','/assets/images/land/brasil.png','/assets/images/land/guatemala.png');
    var nextimage=0;
    doSlideshow();

    function doSlideshow(){
        if(nextimage>=images.length){nextimage=0;}
        $('.welcome')
        .css('background-image','url("'+images[nextimage++]+'")')
        .fadeIn(2000,function(){
            setTimeout(doSlideshow,8000);
        });
    }



</script>