<div class="help-bg ">
    <nav class="navbar">
        <div class="container">
            <br>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                    <span tooltips tooltip-template="Regresar" tooltip-side="bottom" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
            </div>
            <!--div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                />
            </div-->
        </div>
    </nav>
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul>
                    <li ng-repeat="video in vm.videoList">
                        <a ng-class="{'active': video.downloadUrl == vm.selectedStep.downloadUrl}">
                            <button ng-show="video.downloadUrl === vm.selectedStep.downloadUrl" type="button" ng-click="vm.close(video)" class="btn btn-danger btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                         </button>
                            <h4>{{video.description}}</h4>
                            <p>

                                <div ng-hide="video.downloadUrl === vm.selectedStep.downloadUrl" class="step" ng-click="vm.selectStep(video)" style="cursor:pointer;">
                                    <img class="img-responsive center-block" src="/assets/images/common/play.png" width="70%" height="70%">
                                </div>

                                <div ng-show="video.downloadUrl === vm.selectedStep.downloadUrl">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <youtube-video player="video.player" class="embed-responsive-item" player-vars="vm.playerVars" player-width="'280px'" player-height="'180px'"
                                            video-id="video.downloadUrl"></youtube-video>
                                    </div>
                                </div>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div id="bottom">
    <div class="container">
    </div>
</div>