    </br>
    <nav class="navbar">
        <div class="container">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-left hvr-buzz" src="/assets/images/common/logo_rally.png" alt="rally" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                />
                <a type="button" class="btn btn-lg btn-orange boton  pull-right hvr-pulse-grow" href="#/">
                    <span tooltips tooltip-template="Ir al inicio" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
                <a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <a href="#/">
                <img class="img-responsive hvr-pulse-grow" src="/assets/images/common/ninos_world.png" alt="rally" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 ">
            <div class="jumbotron img-bg">
                <h1 class="dark-font">Inicia sesión</h1>
                <form class="center-block" method="POST" action="/rm-server-web/rs/auth/authenticate">
                    <div class="form-group">
                        <!--<label class="jLabel" for="user">Equipo:</label>-->
                        <input type="text" class="form-control input-lg" placeholder="Nombre de equipo" id="user" name="user" placeholder="Nombre de equipo" />
                    </div>
                    <div class="form-group">
                        <!--<label class="jLabel" for="password">Contraseña:</label>-->
                        <input type="password" class="form-control input-lg" placeholder="Contraseña" id="password" name="password" placeholder="Contraseña" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow">
                            <span class="glyphicon glyphicon-ok-sign"></span> Ingresar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="bottom">
    <div class="container">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function (){
        
        try{
            var error = document.URL.match(/error=([0-9]+)/);
           
            if (error[0] != null){
                swal({
                    title: "!Error!",
                    text: "Ingresa tu usuario y password correctamente",
                    type: "error",
                    confirmButtonColor: "#AEEA00",
                    confirmButtonText: "Entendido",
                    closeOnConfirm: true
                });
            }
        }catch(e){
            ;
        }

        $('#user').val('');
        $('#password').val('');
        $('#user').focus();
    });

</script>
