<div class="help-bg">
<nav class="navbar">
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img class="img-responsive center-block  pull-left hvr-buzz" src="/assets/images/common/logo_rally.png" alt="rally" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
            />
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 
        col-xs-offset-0 col-ms-offset-0 col-md-offset-3 col-lg-offset-3 animated infinite pulse">
            <h2 class="text-center"><b>¡Te puedes inscribir ya!</b></h2>
            <h2 class="text-center"><b>El Rally inicia el 18 de julio</b></h2>
            <img class="img-responsive center-block " src="/assets/images/common/girl.png" alt="rally"
            />
            <div class="carousel-caption hidden-sm hidden-md hidden-lg caption-xs">
              <h3 id="pageTimer" ></h3>
            </div>
            <div class="carousel-caption hidden-xs caption-md">
              <h3 id="pageTimer_" ></h3>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 
        col-xs-offset-0 col-ms-offset-0 col-md-offset-3 col-lg-offset-3">
            
            
            <a class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow" href="#signup">
                <span class="glyphicon glyphicon-heart"></span> Inscríbete
            </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 
        col-xs-offset-0 col-ms-offset-0 col-md-offset-3 col-lg-offset-3">
        <br/>
            <a type="button" class="btn btn-lg btn-pink pull-right boton animated infinite pulse" href="#help">
            <span tooltips tooltip-template="Tutoriales" tooltip-side="right" class="glyphicon glyphicon-question-sign" aria-hidden="true" tooltip-enable="true"></span>
            </a>
            <a type="button" class="btn btn-lg btn-orange pull-right boton animated infinite pulse" href="mailto:ayuda@rallymatematico.com?Subject=Ayuda" target="_top">
                <span tooltips tooltip-template="Contactanos" tooltip-side="left" class="glyphicon glyphicon-envelope aria-hidden="true" tooltip-enable="true"></span>
            </a> 
        </div>
    </div>
</div>

<div id="bottom">
    <div class="container">
    </div>
</div>

<audio autoplay loop>
    <source src="assets/music/rally-song.mp3" type="audio/mpeg">
</audio>

<script type="text/javascript" src="/libs/countdown/countdown.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){

        countdown.setLabels(
        ' milissegundo| segundo| minuto| hora| dia| semana| mês| ano| década| século| milênio',
        ' milissegundos| segundos| minutos| horas| dias| semanas| meses| anos| décadas| séculos| milênios',
        ' y ',
        ' , ',
        'agora');


        var timerId =
          countdown(
                new Date(2016,06,18),
                function(ts) {
                  $('#pageTimer').html(ts.toHTML("strong"));
                  $('#pageTimer_').html(ts.toHTML("strong"));
                },
                countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS
            );
        })

</script>


<!--<img id="avion" alt="" src="assets/images/airplanes/aviongirlguate2.png" />-->