<!--<div class="alert alert-warning">
  <h1>¿No has compleado el reto de la semana?</h1>
  <p>Durante la semana del 05-09 de septiembre nuestro servidores presentaron un inconveniente y quizá no te fue posible enviar el reto de la semana, para evitar atrasos con el rally favor enviarlo al correo <a href="mailto:juegomate.coord@gmail.com?Subject=Equipo: - Nivel:" target="_top">juegomate.coord@gmail.com</a>, en el asunto coloca el nombre de tu equipo y el nível al que te has registrado, gracias y disculpas.</p>
</div>-->
<nav class="navbar">
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img class="img-responsive center-block  pull-left hvr-buzz" src="/assets/images/common/logo_rally.png" alt="rally" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
            />
            </br>

            <a type="button" class="btn btn-lg btn-pink pull-right boton animated infinite pulse" href="#help">
                <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true" tooltip-enable="true"></span>
            </a>
            <a type="button" class="btn btn-lg btn-orange pull-right boton animated infinite pulse" href="mailto:ayuda@rallymatematico.com?Subject=Ayuda" target="_top">
                <span tooltips tooltip-template="Contactanos" tooltip-side="left" class="glyphicon glyphicon-envelope aria-hidden="true" tooltip-enable="true"></span>
            </a> 
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 
            col-xs-offset-0 col-ms-offset-0 col-md-offset-3 col-lg-offset-3">
            <img class="img-responsive center-block animated pulse" src="/assets/images/common/ninos_world.png" alt="rally"
            />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4 
            col-xs-offset-1 col-ms-offset-1 col-md-offset-4 col-lg-offset-4">
            <a class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow" href="#signup">
                <span class="glyphicon glyphicon-heart"></span> Inscríbete
            </a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4 
            col-xs-offset-1 col-ms-offset-1 col-md-offset-4 col-lg-offset-4">
            <a class="btn btn-block button-pill button-flat-highlight button-jumbo hvr-grow-shadow" href="#login">
                <span class="glyphicon glyphicon-log-in"></span> Ingresa
            </a>

        </div>
    </div>
    <br/>
</div>

<div id="bottom">
    <div class="container">
    </div>
</div>

<audio autoplay loop>
    <source src="assets/music/rally-song.mp3" type="audio/mpeg">
</audio>


<img id="avion" alt="" src="assets/images/airplanes/aviongirlguate2.png" />





