<div id="top">
    <div class="container">
    </div>
</div>

<nav class="navbar">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
               <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/signup">
                    <span tooltips tooltip-template="Anterior" tooltip-side="bottom" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a type="button" class="btn btn-lg btn-orange pull-right btn-responsive boton hvr-pulse-grow" aria-label="Left Align" href="#/">
                    <span tooltips tooltip-template="Ir a inicio" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container black-bg">
    <br/>
    <div class="row">
        <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5 ">
            <img class="img-responsive center-block" src="/assets/images/avatars/msg.png" alt="piloto" />
        </div>
        <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7 ">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" id="avatarSelected">
                        <img class="img-responsive center-block pull-left animated infinite pulse" width="290px" height="437px" ng-src="{{vm.selectedAvatar.downloadUrl}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-ms-offset-1 
            col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="row">
                <div id="avatarCarousel" class="carousel slide col-md-9 col-lg-9 avatar-bar" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#avatarCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#avatarCarousel" data-slide-to="1"></li>
                        <li data-target="#avatarCarousel" data-slide-to="2"></li>
                        <li data-target="#avatarCarousel" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-repeat="activeAvatar in vm.activeAvatars">
                                    <img class="img-responsive center-block" width="84px" height="126px" ng-src="{{activeAvatar.downloadUrl}}" ng-click="vm.selectAvatar(activeAvatar)">
                                </div>
                            </div>
                        </div>
                        <div class="item" ng-repeat="avatar in vm.avatars">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-repeat="ava in avatar">
                                    <img class="img-responsive center-block" width="84px" height="126px" ng-src="{{ava.downloadUrl}}" ng-click="vm.selectAvatar(ava)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <span class="left carousel-control" data-target="#avatarCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    </span>
                    <span class="right carousel-control" data-target="#avatarCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    </span>
                </div>
                <div class="col-md-3 col-lg-3">
                    <br/>
                    <br/>
                    <br/>
                    <button ng-click="vm.saveAvatar()" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow">
                        Continuar <span class="glyphicon glyphicon-ok-sign"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>

<div id="bottom">
    <div class="container">
    </div>
</div>

<script>
    (function() {
        $('img').click(function() {
            if ($('#avatar').length) {
                $('#avatar').remove();
            }
            var src = $(this).attr('src');

            var img = document.createElement("img");
            img.src = src;
            img.id = "avatar";
            document.getElementById("avatarSelected").appendChild(img);

        });
    })();
</script>