<div id="left-column">
    <div class="container">
    </div>
</div>

<div id="right-column">
    <div class="container">
    </div>
</div>


<nav class="navbar">
    <div class="container">
        <a type="button" class="btn btn-lg btn-orange pull-right btn-responsive boton hvr-pulse-grow" aria-label="Left Align" href="#/">
            <span tooltips tooltip-template="Ir a inicio" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
    </div>
</nav>

<div class="container">
    <form name="signupForm">
    <section id="cuenta">
        <div class="content">
            <div class="row">
                <div id="car" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <img class="img-responsive hvr-wobble-skew" src="/assets/images/common/car.png" alt="car" />
                </div>
                
                

                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="center-block">
                        <h1 class="white-font">Regístrate <span class="glyphicon glyphicon-edit"> </span></h1>
                        <div class="form-group">
                            <label class="jLabel">Equipo</label>
                            <input type="text" name="inputUser"  id= "inputUser" class="form-control input-lg" placeholder="Nombre de equipo" ng-model="vm.group.user" required/>
                        </div>
                        <div class="form-group">
                            <label class="jLabel">Centro educativo:</label>
                            <input type="text" name="inputInstitution" id="inputInstitution" class="form-control input-lg" placeholder="Centro Educativo" ng-model="vm.group.institution.name" required/>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="jLabel">Contraseña</label>
                                    <input type="password" name="inputPassword" id="inputPassword" class="form-control input-lg" placeholder="Contraseña" ng-model="vm.group.password" required/>
                                </div>
                                <div class="col-md-6">
                                    <label class="jLabel">Confirme su contraseña:</label>
                                    <input type="password" name="inputPassword2" id="inputPassword2s"  class="form-control input-lg" placeholder="Contraseña" ng-model="vm.group.password2" required/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="jLabel">Email:</label>
                            <input type="email" name="inputEmail" id="inputEmail" class="form-control input-lg" placeholder="correo@electronico.com" ng-model="vm.group.email" required/>
                        </div>
                        
                        <div class="alert alert-danger" role="alert" ng-show="signupForm.inputEmail.$error.email">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only" >Error:</span>
                            Ingrese una dirección de correo válida.
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                            <label class="jLabel">País:</label>
                            <select class="form-control input-lg" name="inputCountry" id="inputCountry" ng-model="vm.group.country.id" ng-options="country.id as country.name for country in vm.countries"></select>
                        </div>
                            <div class="col-md-6">
                            <label class="jLabel">Nivel:</label>
                            <select class="form-control input-lg" name="inputLevel" id="inputLevel" ng-model="vm.group.level.id" ng-options="level.id as level.name for level in vm.levels"></select>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                            <a href="#integrantes" id="carDown" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow" ng-click="vm.isFormValid()">
                                Continuar <span class="glyphicon glyphicon-ok-sign"></span>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <br>
        <br>
    </section>
    <section id="integrantes">
        <br>
        <br>
        <div class="row">
            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="center-block">
                    <h1 class="white-font">Jugadores <span class="glyphicon glyphicon-user"> </span></h1>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="jLabel">Nombre:</label>
                                <input type="text" name = "inputNombre" class="form-control input-lg" placeholder="Nombre completo" ng-model="vm.group.members[0].name" />
                            </div>
                            <div class="col-md-6">
                                <label class="jLabel">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control input-lg" id="date" placeholder="yyyy-MM-dd" min="1960-01-01" max="2020-12-31" ng-model="vm.group.members[0].birthdate"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="jLabel">Nombre:</label>
                                <input type="text" class="form-control input-lg" placeholder="Nombre completo" ng-model="vm.group.members[1].name" />
                            </div>
                            <div class="col-md-6">
                                <label class="jLabel">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control input-lg" id="date1" placeholder="yyyy-MM-dd" min="1960-01-01" max="2020-12-31" ng-model="vm.group.members[1].birthdate"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="jLabel">Nombre:</label>
                                <input type="text" class="form-control input-lg" placeholder="Nombre completo" ng-model="vm.group.members[2].name" />
                            </div>
                            <div class="col-md-6">
                                <label class="jLabel">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control input-lg" id="date2" placeholder="yyyy-MM-dd" min="1960-01-01" max="2020-12-31" ng-model="vm.group.members[2].birthdate"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="jLabel">Nombre:</label>
                                <input type="text" class="form-control input-lg" placeholder="Nombre completo" ng-model="vm.group.members[3].name" />
                            </div>
                            <div class="col-md-6">
                                <label class="jLabel">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control input-lg" id="date3" placeholder="yyyy-MM-dd" min="1960-01-01" max="2020-12-31" ng-model="vm.group.members[3].birthdate"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                            <button ng-click="vm.saveGroup()" id="create" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow">
                                Continuar <span class="glyphicon glyphicon-ok-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>
    </form>
</div>

<script>
    (function() {
           $('a').click(function(){
               if($(this).attr('id') != 'create'){
                   $('html, body').animate({
                       scrollTop: $($(this).attr('href')).offset().top
                       
                   }, 1300);
                   if($( "#car" ).height() < 100){
                        $( "#car" ).animate({ "bottom": "-=1300px" },  2300 );
                   }else{
                        $( "#car" ).animate({ "bottom": "-=600px" },  2000 );
                   }
                   return false;
               }
            });
         })();


</script>