<div class="map-bg">
    <div id="top">
        <div class="container">
        </div>
    </div>
    <nav class="navbar">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                        <span tooltips tooltip-template="Perfil" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                    />
                    <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                        <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                    </form>
                    <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a-->
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                <img class="img-responsive center-block" src="/assets/images/country/msg-selecciona-pais.png"> ∆
            </div>
            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1
            col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="row">
                    <button id="upClick" class="btn-lg btn-block btn-yellow">
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        </button>
                </div>
                <div class="row transparent-bg">

                    <div ng-repeat="country in vm.countries track by $index | orderBy:-name" ng-class="{selected: vm.isSelected(country)}" ng-click="vm.selectUnselect(country);">
                        <img height="50%" width="62%" class="img-responsive center-block selectable" ng-src="/assets/images/country/{{country.name|lowercase}}.png" alt="{{country.name}}">
                    </div>
                </div>
                <div class="row">
                    <button id="downClick" class="btn-lg btn-block btn-yellow">
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-8 col-lg-offset-8 col-md-4 col-lg-4">
                </br>
                <button ng-click="vm.register();" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow">
               Continuar <span class="glyphicon glyphicon-ok-sign"></span>
            </button>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div class="container">
        </div>
    </div>
</div>



<script>
    (function() {
        var scrolled=0;

        $("#upClick").on("click" ,function(){
                //console.log("up");
                scrolled=scrolled-200;
				
				$(".transparent-bg").animate({
				        scrollTop:  scrolled
				   },5);
		});

        $("#downClick").on("click" ,function(){
                scrolled=scrolled+200;
                //console.log("down");
        
				$(".transparent-bg").animate({
				        scrollTop:  scrolled
				   }, 5);
			});
    })();
</script>