<div class="map-country-bg">
    <div id="top">
        <div class="container">
        </div>
    </div>
    <nav class="navbar">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                        <span tooltips tooltip-template="Perfil" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                    />
                    <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                        <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                    </form>
                    <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a-->
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img ng-src="{{vm.data.group.avatar.downloadUrl}}" class="img-responsive animated infinite pulse center-block" />
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-8">
                <img src="/assets/images/game/place/2-rombo.png" class="img-responsive center-block" id="imgPlace" height="35%" width="35%"
                />
                <h1 id="message" class="shadow text-center">
                    ¡En hora buena has terminado todos los retos en el rally matemático!
                </h1>
            </div>

            <div class="col-md-6 col-md-offset-1">
               <br>
                <a href="#/" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow animated infinite pulse">Continuar <span class="glyphicon glyphicon-ok-sign"></span>
                </a>
            </div>
        </div>

        <audio autoplay>
            <source src="/assets/music/clap.mp3" type="audio/mpeg">
        </audio>

    </div>
    <div id="bottom">
        <div class="container">
        </div>
    </div>
</div>

<!--script src="/libs/confetti/confetti.js"></script-->


<script type="text/javascript">
            
            $(function () {
                $('#message').addClass('animated bounceInLeft');
            })

          
            var tid = setInterval(mycode, 3000);

            function mycode() {
              $('#imgPlace').addClass('animated rotateIn');
              
            }

            var time2 = setInterval(mycode2, 4000);

            function mycode2(){
                $('#imgPlace').removeClass('animated rotateIn');
            
            }


        </script>