<div id="top">
    <div class="container">
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                    <span tooltips tooltip-template="Perfil" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                />
                <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                    <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                </form>
                <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a-->
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <br/>
    <div class="col-md-3 col-lg-3">
        <img id="avatar" name="avatar" class="img-responsive center-block" src="/assets/images/common/ejemplo-piloto.png" alt="piloto"
        />
    </div>
    <div class="col-md-9 col-lg-9">
        <div class="jumbotron img-bg question">
            <h2>Instrucciones</h2>
            <p>Para realizar cada reto, deberán tener a mano sus útiles escolares, papel de reciclaje, cuadernos o papel de
                cuadrícula y una calculadora sencilla.</p>

            <p>Deberán tomar foto de sus productos. En cada producto que muestren, escriban claramente el nombre de su equipo,
                su grado, la fecha y un título para el trabajo. Su maestra o maestro los pueden ayudar.</p>
        </div>
    </div>
    <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-8 col-lg-offset-8 col-xs-12 col-sm-12 col-md-3 col-lg-3  pull-right">
        <a href="#/" class="btn btn-lg btn-lime btn-block boton-round">
	            Continuar <span class="glyphicon glyphicon-ok-sign"></span>
	        </a>
    </div>
</div>


<div id="bottom">
    <div class="container">
    </div>
</div>