<div id="top">
    <div class="container">
    </div>
</div>

<nav class="navbar">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                    <span tooltips tooltip-template="Perfil" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                />
                <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                    <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                </form>
                <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a-->
            </div>
        </div>
    </div>
</nav>

<div class="container">
   <!--<div class="hidden-md hidden-lg">
        <div class="row">
            <div class="col-sm-5 col-xs-5 ">
                <img class="img-responsive center-block" src="/assets/images/gas/msg.png" />
            </div>
            <div class="col-sm-2 col-xs-2">
                <div class="row rombo-score">
                    <div class="row">
                        <center>
                            <h3 class=" {{vm.numberClass}} "><b> {{vm.scoreRombos}}</b></h3></center>
                    </div>
                    <br>
                    <div class="row">
                        <img class="img-responsive center-block {{vm.romboClass}} " ng-src="{{vm.romboUrl}}" />
                    </div>

                </div>
            </div>
            <div class="col-sm-5 col-xs-5">
                <img class="img-responsive center-block {{vm.imgClass}}" ng-src="{{vm.imgUrl}}" />
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="jumbotron img-bg question col-md-9 col-lg-9">
            <div ng-repeat="question in vm.multipleValueQuestions">
                <p><label class="badge number-circle">{{$index + 1}}</label> 
                <b>{{question.plainText}}</b></p>
                <div class="col-md-12 col-lg-12" ng-repeat="answer in question.posibleAnswers">
                    <label class="radio-inline label-ident" >
                        <h4><input type="radio" name="{{question.id}}" id="{{answer.id}}" ng-click="vm.validateAnswers(answer, question.id);"> {{answer.value}}</h4>
                    </label>
                </div>
            </div>
        </div>

        <div class="hidden-sm hidden-xs col-md-3 col-lg-3">
            <div class="row msg-background">
                <img class="img-responsive center-block" src="/assets/images/gas/msg.png" />
            </div>
            <br/>
            <div class="row">
                <img class="img-responsive center-block {{vm.imgClass}}" ng-src="{{ vm.imgUrl}}" />
            </div>
            <div class="row rombo-score">
                <div class="col-sm-6">
                    <h1 class=" {{vm.numberClass}} pull-right"><b> {{vm.scoreRombos}}</b></h1>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive {{vm.romboClass}} pull-left" ng-src="{{vm.romboUrl}}" />
                </div>
            </div>
            <br>
            <div class="row">
                <a ng-show="vm.showSiguiente" ng-href="#game?rallyId={{vm.data.rally.id}}&countryId={{vm.data.workingCountry}}" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow animated infinite pulse">Continuar <span class="glyphicon glyphicon-ok-sign"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row hidden-md hidden-lg">
        <a ng-show="vm.showSiguiente" ng-href="#game?rallyId={{vm.data.rally.id}}&countryId={{vm.data.workingCountry}}" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow animated infinite pulse">Continuar <span class="glyphicon glyphicon-ok-sign"></span>
        </a>
    </div>


</div>

<div id="bottom">
    <div class="container">
    </div>
</div>