<div id="top">
    <div class="container">
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                    <span tooltips tooltip-template="Perfil" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                />
                <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                    <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                </form>
                <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a-->
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <br/>
    <img src="/assets/images/common/video.png" class=" img-responsive center-block " />
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
            <img src="/assets/images/country/guatemala.png" class=" img-responsive center-block " />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 locked-img ">
            <img src="/assets/images/country/panama.png" class=" img-responsive center-block  transparent-img" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 locked-img disabled">
            <img src="/assets/images/country/brasil.png" class=" img-responsive center-block  transparent-img" />
        </div>
    </div>
    <br/>
    <img src="/assets/images/common/ficha.png" class=" img-responsive center-block " />
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <img src="/assets/images/country/guatemala.png" class=" img-responsive center-block" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 locked-img disabled">
            <img src="/assets/images/country/panama.png" class=" img-responsive center-block  transparent-img" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 locked-img disabled">
            <img src="/assets/images/country/brasil.png" class=" img-responsive center-block  transparent-img" />
        </div>

    </div>
    <br/>
</div>
<div id="bottom">
    <div class="container">
    </div>
</div>