<div id="top">
    <div class="container">
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/video-country">
                    <span tooltips tooltip-template="Regresar" tooltip-side="bottom" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                />
                <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                    <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                </form>
                <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a-->
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 
            col-xs-offset-0 col-ms-offset-0 col-md-offset-0 col-lg-offset-0">
        <img class="img-responsive center-block" src="/assets/images/common/ficha.png" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 
            col-xs-offset-6 col-ms-offset-6 col-md-offset-6 col-lg-offset-6">
        <img class="img-responsive center-block over-flag" ng-src="{{vm.flagCountry}}" />
    </div>    
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0 ">
            <img src="/assets/images/infoCountries/string.png" class=" img-responsive center-block" />
            <div class="blackboard-horizontal">
            </div>
            <div class="blackboard-vertical">
                <div class="blackboard-content">
                    <p ng-bind-html="vm.infoCountry"></p>
                </div>
            </div>
            <div class="blackboard-horizontal">
            </div>
        </div>
    </div>
    <br>
    <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-8 col-lg-offset-8 col-xs-12 col-sm-12 col-md-3 col-lg-3  pull-right">
        <a href="#info-video-country" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow">
                Continuar <span class="glyphicon glyphicon-ok-sign"></span>
            </a>
    </div>
</div>
<div id="bottom">
    <div class="container">
    </div>
</div>