<div class="map-country-bg">
    <div id="top">
        <div class="container">
        </div>
    </div>
    <nav class="navbar">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                        <span tooltips tooltip-template="Perfil" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                    />
                    <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                        <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                    </form>
                    <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                        <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </a-->
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                <img class="center-block" src="/assets/images/mapCountries/selecciona.png" alt="Listos!!" width="90%" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="row">
                    <div ng-class="vm.data.group.registrations[0].registrationCountries[0].state === 'ACTIVE'   ?  
                'col-xs-4 col-sm-4 col-md-4 col-lg-4' :
                 'col-xs-4 col-sm-4 col-md-4 col-lg-4 locked-img disabled' ">
                        <a ng-click="vm.saveWorkingCountry(vm.data.group.registrations[0].registrationCountries[0].country.id)">
                            <img ng-class="vm.data.group.registrations[0].registrationCountries[0].state === 'ACTIVE' ? 
                         'center-block hvr-pulse-grow' :
                         'center-block transparent-img' " ng-src="/assets/images/mapCountries/{{vm.data.group.registrations[0].registrationCountries[0].country.name|lowercase}}.png "
                                width="100%" />
                        </a>
                    </div>
                    <div ng-class="vm.data.group.registrations[0].registrationCountries[1].state === 'ACTIVE'   ?
                     'col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-4 col-sm-4 col-md-4 col-lg-4' : 
                     'col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 locked-img disabled'">
                        <a ng-click="vm.saveWorkingCountry(vm.data.group.registrations[0].registrationCountries[1].country.id)">
                            <img ng-class="vm.data.group.registrations[0].registrationCountries[1].state === 'ACTIVE' ? 
                        'center-block hvr-pulse-grow' :
                        'center-block transparent-img'" ng-src="/assets/images/mapCountries/{{vm.data.group.registrations[0].registrationCountries[1].country.name|lowercase}}.png "
                                width="100%" />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="vm.data.group.registrations[0].registrationCountries[2].state === 'ACTIVE'  ?
                 'col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-5 col-sm-5 col-md-5 col-lg-5' :
                 'col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-5 col-sm-5 col-md-5 col-lg-5 locked-img disabled'">
                        <a ng-click="vm.saveWorkingCountry(vm.data.group.registrations[0].registrationCountries[2].country.id)">
                            <img ng-class="vm.data.group.registrations[0].registrationCountries[2].state === 'ACTIVE' ? 
                         'center-block hvr-pulse-grow' :
                        'center-block transparent-img'" ng-src="/assets/images/mapCountries/{{vm.data.group.registrations[0].registrationCountries[2].country.name|lowercase}}.png "
                                width="100%" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="bottom">
        <div class="container">
        </div>
    </div>
</div>