<div id="top">
        <div class="container">
        </div>
    </div>
    
    <nav class="navbar">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                        <span tooltips tooltip-template="Perfil" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                    />
                    <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                        <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                            <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        </button>
                    </form>
     
                </div>
            </div>
        </div>
    </nav>
    
    <div class="container">
    
    
        <div class="row">
            
            <div class="jumbotron img-bg question col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                
                <h3>Contesta las siguiente preguntas:</h3>
                <br/>
                <div ng-repeat="question in vm.data.quiz">
                    <p><label class="badge number-circle">{{question.id_}}</label> 
                    <b>{{question.text}}</b></p>
                    <div ng-if="question.image">
                        <img class="img-responsive center-block" ng-src="{{question.image}}" alt="Image"/>
                    </div>

                    <div ng-if="question.posibleAnswers">
                        <div class="col-md-12 col-lg-12" ng-repeat="answer in question.posibleAnswers">
                        <label class="radio-inline label-ident" >
                            <h4><input type="radio" name="{{question.id}}" id="{{answer.id}}" ng-click="vm.validateAnswers(answer, question.id);" required> {{answer.value}}</h4>
                        </label>
                        </div>
                    </div>

                </div>
    
                <textarea class="form-control" id="textarea" ng-model="something" ng-change="vm.validateAnswers(something,36)" maxlength="200"></textarea>

                <br/>

                <button ng-show="vm.showSiguiente" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow animated infinite pulse" ng-click="vm.sendAnswers()">
                        Continuar <span class="glyphicon glyphicon-ok-sign "></span>
                </button>
    
            </div>
    
    
    
        </div>
    
   
    
    
    </div>
    
    <div id="bottom">
        <div class="container">
        </div>
    </div>