<div id="top">
    <div class="container">
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                    <span tooltips tooltip-template="Regresar" tooltip-side="bottom" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                />
                <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                    <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                </form>
                <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a-->
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 
            col-xs-offset-0 col-ms-offset-0 col-md-offset-3 col-lg-offset-3">
        <img class="img-responsive center-block" src="/assets/images/rank/primeros-lugares.png" />
    </div>

    <div class="row" ng-repeat="rank in vm.data.rankingList">
        </br>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 
        col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1" 
        ng-class="(rank.position > 3 ? vm.colors[4] : vm.colors[rank.position])">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img class="img-responsive center-block" ng-show="rank.position=== 1" src="/assets/images/game/place/primer-lugar.png" />
                    <img class="img-responsive center-block" ng-show="rank.position=== 2" src="/assets/images/game/place/segundo-lugar.png" />
                    <img class="img-responsive center-block" ng-show="rank.position=== 3" src="/assets/images/game/place/tercer-lugar.png" />
                    <h3 ng-show="rank.position > 3" >{{rank.position}}</h3>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <h3>{{rank.group}}</h3>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <h3>{{rank.country}}</h3>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img class="img-responsive center-block" src="/assets/images/welcome/rombo.png" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <h3>{{rank.points}}</h3>
                </div>
            </div>
        </div>
        </br>
    </div>
</div>

<div id="bottom">
    <div class="container">
    </div>
</div>