<div id="top">
    <div class="container">
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                    <span tooltips tooltip-template="Perfil" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                />
                <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                    <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                </form>
                <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                    <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a-->
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 
            col-xs-offset-0 col-ms-offset-0 col-md-offset-0 col-lg-offset-0">
        <img class="img-responsive center-block" src="/assets/images/common/video-country.png" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 
            col-xs-offset-6 col-ms-offset-6 col-md-offset-6 col-lg-offset-6">
        <img class="img-responsive center-block over-flag" ng-src="{{vm.flagCountry}}" />
    </div>    
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8
            col-xs-offset-0 col-ms-offset-0 col-md-offset-2 col-lg-offset-2">

    <div class="embed-responsive embed-responsive-16by9 video-bg">
        <youtube-video class="embed-responsive-item" class="embed-responsive-item" video-id="vm.player" player-vars="vm.playerVars"></youtube-video>
    </div>
</div>

<div class="row">
    <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1 col-md-3 col-lg-3 col-md-offset-7 col-lg-offset-7">
    <br/>
        <button id="btnNext" class="btn btn-block button-pill button-flat-action button-jumbo hvr-grow-shadow" ng-click="vm.jump()">
            Continuar <span class="glyphicon glyphicon-ok-sign "></span>
        </button>
    </div>
</div>
<div id="bottom">
    <div class="container">
    </div>
</div>