<div class="help-bg tutorial">
    <div id="top">
        <div class="container">
        </div>
    </div>
    <nav class="navbar">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a type="button" class="btn btn-lg btn-green boton hvr-pulse-grow" href="#/">
                        <span tooltips tooltip-template="Perfil" tooltip-side="bottom" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img class="img-responsive center-block pull-right hvr-buzz" src="/assets/images/common/logo_telefonica_fundacion.png" alt="telefonica"
                    />
                    <form class="center-block" method="POST" action="/rm-server-web/rs/auth/logoff">
                        <button type="submit" class="btn btn-lg btn-orange pull-right boton hvr-pulse-grow">
                        <span tooltips tooltip-template="Cerrar Sesión" tooltip-side="bottom" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                    </form>
                    <!--a type="button" class="btn btn-lg btn-pink boton  pull-right hvr-pulse-grow" href="#help">
                        <span tooltips tooltip-template="Tutoriales" tooltip-side="bottom" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </a-->
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 
            col-xs-offset-0 col-ms-offset-0 col-md-offset-3 col-lg-offset-3">
                <img class="img-responsive center-block" src="/assets/images/common/videos.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 
            col-xs-offset-2 col-ms-offset-2 col-md-offset-2 col-lg-offset-2">
                <ul>
                    <li ng-repeat="video in vm.videoList" >
                        <a ng-class="{'active': video.downloadUrl == vm.selectedStep.downloadUrl}">
                            <button ng-show="video.downloadUrl === vm.selectedStep.downloadUrl" type="button" ng-click="vm.close()" class="btn btn-danger btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                         </button>
                            <h2>{{video.description}}</h2>
                            <p>
                                <div ng-hide="video.downloadUrl === vm.selectedStep.downloadUrl" class="step" ng-click="vm.selectStep(video)" style="cursor:pointer;">
                                    <img class="img-responsive center-block" src="/assets/images/common/play.png" width="50%" height="50%">
                                </div>
                                <div ng-show="video.downloadUrl === vm.selectedStep.downloadUrl">
                                    <youtube-video class="embed-responsive-item" video-id="video.downloadUrl" player-vars="vm.playerVars" player-width="'180px'"
                                        player-height="'100px'"></youtube-video>
                                </div>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div class="container">
        </div>
    </div>

</div>

