/*Animación inicio vehiculo*/
.vehicle-animation {
  animation-duration: 3s;
  animation-name: vehiclein;
  top: 75%;
  left: 20%;
  width: 150px;
  height: 100px;
}

@keyframes vehiclein {
  from {
    top: 50%;
    left: 50;
    width: 250px;
    height: 250px;
  }

  to {
    top: 75%;
    left: 20%;
    width: 150px;
    height: 100px;
  }
}

/*Animación movimiento vehiculo*/
.vehicle-animation-mv {
  animation-name: vehicle_mv;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes vehicle_mv {
  0% {
    margin-top: 0px;
    transform: rotate(0deg);
    
  }
  
  25% {
    margin-top: 10px;
    transform: rotate(-4deg);
  }
  
  50% {
    margin-top: 0px;
    transform: rotate(0deg);
  }
  
  75% {
    margin-top: 10px;
    transform: rotate(4deg);
  }

  100% {
    margin-top: 0px;
    transform: rotate(0deg);
  }
  
}

/*Animación de entrada de escenario*/
.background-animation {
  animation-duration: 5s;
  animation-name: slidein;
  position: fixed;
  left: 0px;
  top: 0px;
  color: white;
  height: 100%;
  width: 100%;
}


@keyframes slidein {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

/*Animación de salida de escenario*/
.background-close {
  animation-duration: 5s;
  animation-name: slideout;
  position: fixed;
  color: white;
  height: 100%;
  width: 100%;
}

@keyframes slideout {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

/*Animación movimiento abajo hacia arriba*/
.animate-bottom-up {
  animation-duration: 5s;
  animation-name: bottom-up;
  position: relative;
}

.animate-bottom-up-alternate {
  animation-duration: 1s;
  animation-name: bottom-up;
  position: relative;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bottom-up {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}

/*Animación mivimiento arriba hacia abajo*/
.animate-top-down {
  animation-duration: 5s;
  animation-name: top-down;
  position: relative;
}

@keyframes top-down {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

/*Animación mivimiento izquierda a derecha*/
.animate-left-right {
  animation-duration: 5s;
  animation-name: left-right;
  position: relative;
}

.animate-left-right-alternate {
  animation-duration: 1s;
  animation-name: left-right;
  position: relative;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes left-right {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

/*Animación mivimiento derecha a izquierda*/
.animate-right-left {
  animation-duration: 5s;
  animation-name: right-left;
  position: relative;
}

@keyframes right-left {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

/*Animación entrada de sol o luna, gira agujas del reloj*/
.animate-c1 {
  animation-duration: 5s;
  animation-name: c1;
  position: relative;
  transform: 100%;
}

@keyframes c1 {
  from {
    transform: rotate(-45deg) translateX(-100%);
  }
  to {
    transform: rotate(0deg) translateX(0px);
  }
}

/*Sombras en los assets del escenario*/
img { 
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
}

/*Estilo para las preguntas*/
@media(min-width: 321px){

  .question {
    z-index: 100;
    color: black;
    background-color: transparent;
    font-size: 20px;
    font-style: bold;
    top: 6%;
    right: 3%;
    width: 45%;
    height: 84%;
    border-radius: 15px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    overflow: scroll;
  }

  .questionbk {
    background-color: white;
    opacity: 0.90;
    z-index: 99;
    color: black;
    font-size: 20px;
    font-style: bold;
    top: 5%;
    right: 3%;
    width: 45%;
    height: 85%;
    border-radius: 15px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
  }

}

@media(max-width: 320px){

  .question {
    z-index: 100;
    color: black;
    background-color: transparent;
    font-size: 20px;
    font-style: bold;
    top: 6%;
    right: 3%;
    width: 85%;
    height: 84%;
    border-radius: 15px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    overflow: scroll;
  }

  .questionbk {
    background-color: white;
    opacity: 0.90;
    z-index: 99;
    color: black;
    font-size: 20px;
    font-style: bold;
    top: 5%;
    right: 3%;
    width: 85%;
    height: 85%;
    border-radius: 15px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
  }

}



.question > input {
  border-radius: 15px !important;
  font-size: 25px;
  border-color: rgb(0, 191, 255);
  border-style: solid;
  padding: 5px;
}

.question > button {
  border-radius: 15px !important;
  font-size: 25px;
  padding: 5px 25px 5px 25px;
  background-color: rgb(0, 191, 255);
  border-color: rgb(0, 191, 255);
  border-style: solid;
  color: white;
  cursor: pointer;
}


.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.boton-round {
  border-radius:10px;
  box-shadow: 5px 5px 2px #555;
}