html {
  min-height: 100%;
  position: relative;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #42A5F5;
  color: white !important;
  font-family: 'Happy Monkey', cursive !important;
}

#bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image: url("/assets/images/common/liston-horizontal-50.png"); 
}

 #left-column {
    background-image: url("/assets/images/common/liston-vertical-50.png"), url("/assets/images/common/liston-vertical-50.png");
    background-repeat:  repeat-y;
    width:100%;
    height:100%;
    position:absolute;
    background-position: left; 
}

#right-column {
    background-image: url("/assets/images/common/liston-vertical-50.png"), url("/assets/images/common/liston-vertical-50.png");
    background-repeat:  repeat-y;
    width:100%;
    height:100%;
    position:absolute;
    background-position: right; 
}

#top {
  position: absolute;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image: url("/assets/images/common/liston-horizontal-50.png"); 
}



/*Inputs*/
.jLabel {
  font-weight: bold !important;
  font-size: 1.5em;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Jaldi', sans-serif !important;*/
  color: white;
}
input, select, textarea{
    background-color: #1DE9B6 !important;
    color: white !important;
}
textarea:focus, input:focus {
    background-color: #1DE9B6 !important;
    color: white !important;
    font-size: 22px;
}

/*Buttons*/
.btn-lime {
  color: #9c27b0;
  background-color: #AEEA00;
  border-color: #C6FF00;
  font-size: 1.5em;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Jaldi', sans-serif !important;*/
}

.bth-lime:hover{
  color: #673ab7;
}

.btn-orange {
    /*color: #000;*/
    color: #ffffff;
    background-color: #FF9800;
    border-color: #FF9100;
    font-size: 30px;
    font-size: 1.5em;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Jaldi', sans-serif !important;*/
    
    
}
.btn-yellow {
    color: #000;
    background-color: #FFFF00;
    border-color: #FFFF00;
     font-size: 1.5em;
  /*font-family: 'Open Sans', sans-serif;*/
}

.btn-green {
    color: #ffffff;
    background-color: #8BC34A;
    border-color: #8BC34A;
     font-size: 1.5em;
  /*font-family: 'Open Sans', sans-serif;*/
}

.btn-pink {
    /*color: #000;*/
    color: #ffffff;
    background-color: #F50057;
    border-color: #F50057;
    font-size: 30px;
    font-size: 1.5em;
    /*font-family: 'Open Sans', sans-serif;*/
    
    
}

.btn:hover {
    color: white;
}

/*boton*/
.boton {
  border-radius:50% !important;
  box-shadow: 5px 5px 2px #555 !important;
  margin-left: 10px;
}

.boton-round {
  border-radius:10px !important;
  box-shadow: 5px 5px 2px #555 !important;
  /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
}

.cancel{
  border-radius:10px;
  box-shadow: 5px 5px 2px #555;
}

/*rank*/
.table_ {
  background-color: orange;
  border-radius:30px;
  box-shadow: 5px 5px 2px #555;
}

/*Carousel Slider*/
.item {
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
}

.carousel-control{
  color: red;
  width: 5% !important;
  border-radius:30px;
}

/*Barra Menu Vehiculo*/
.car-bar{
    background: url("/assets/images/avatars/bar.png") no-repeat;
    background-size: 100% 100%;
    padding: 30px;
}

/*Barra Menu Piloto*/
.avatar-bar{
    background: url("/assets/images/avatars/bar.png") no-repeat;
    background-size: 100% 100%;
    padding: 10px;
}





/*Background de las imagenes de la pantalla welcome.html */
.img-bg {
 background-color: rgba(255, 255, 255, .7) !important;
 border-radius:30px;
 box-shadow: 5px 5px 2px #555;
}

.welcome{
  background-image: url("/assets/images/land/land.png"); 
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 650px;
}

/*Background play video */
.video-bg{
    background-color: #555;
    background-image: url("/assets/images/common/play.png");
    background-position: center;
    background-repeat: no-repeat;
    max-height: 250px;
}


/* Para la pantalla de seleccionar paises*/
.transparent-bg{
    background-color: rgba(255,255,255,.6) !important;
    height: 400px;
    overflow: scroll;
}

/*Para la pantalla de iniciar con un pais*/
.locked-img{
   background-image: url("/assets/images/mapCountries/finished.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 75%;
}

.transparent-img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.map-bg{
    background-image: url("/assets/images/country/pais.png");
     background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 650px;
}

.disabled {
   pointer-events: none;
   cursor: not-allowed;
}

.container{
    width: 100% !important;
    height: 100% !important;
}

/*Background  Avatars y transports*/
.black-bg{
    background: url("/assets/images/common/black-bg.png");
    background-color: #525252;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



/*blackboard*/
.blackboard-vertical{
  background-image: url("/assets/images/infoCountries/blackboard-vertical.png"), url("/assets/images/infoCountries/blackboard-vertical.png");
  background-repeat: repeat-y;
  background-position: left, right; 
  width: 100%;
  height: 100%;
  min-height: 100px;
  background-color: #272727;
  z-index: 100;
  border-top-left-radius: 2em 0.5em;
  border-top-right-radius: 1em 3em;
  border-bottom-right-radius: 4em 0.5em;
  border-bottom-left-radius: 1em 3em;
  box-shadow: 5px 5px 2px #555;
}

.blackboard-horizontal{
  background-image: url("/assets/images/infoCountries/blackboard-horizontal.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
  min-height: 40px;
  /*border-radius:30px 30px 0px 0px / 0px 0px 30px 30px;*/
  border-top-left-radius: 2em 0.5em;
  border-top-right-radius: 1em 3em;
  border-bottom-right-radius: 4em 0.5em;
  border-bottom-left-radius: 1em 3em;
  box-shadow: 5px 5px 2px #555;

}

.blackboard-content{
  padding: 7px 60px 7px 60px;
  font-size: 1.5em !important;
}

.blackboard-content ul{
  padding-top: 0px !important;
}

/*gasoline*/
.question{
  color: black !important;
}

.question2{
  color: black !important;
}

.number-circle{
  background-color: #00C853;
  font-size: 1.2em;
  box-shadow: 1px 1px 1px #555;

}

.label-ident{
  text-indent: 2em;
}

.selectable {
    cursor: pointer;
}

.selected {
    border-radius: 25px;
    border: 2px solid #73AD21;     
}

.over-flag {
    position:absolute;
    z-index:10;
    bottom: -50px;
    right:5px;
    width: 50%;
}

.tooltip-inner {
                
  padding: 10px 10px;
  color: #fff;
  background-color: rgba(103, 58, 183, 0.83);
  border-radius: 10px;
  font-size: large;
  box-shadow: 5px 5px 2px #555;
}

.shadow{
    text-shadow: 5px 5px 2px #555;
    color: white !important;
}

.img-thumbnail-custom{
   display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: none;
    border: none;
    border-radius: 4px;
}

.airplane {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/common/girl.png"); 
  background-repeat: no-repeat;
}

/*HELP CONFIG*/

.help-bg{
  background-image: url("/assets/images/common/world.png"); 
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 650px;
}
.map-country-bg {
  background-image: url("/assets/images/common/world-2.jpg"); 
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 650px;
}



.tutorial ul, .tutorial li {
            list-style: none;
        }
        
.tutorial ul {
            overflow: hidden;
            padding: 1em;
        }
        
.tutorial ul li a {
            text-decoration: none;
            color: #000;
            background: #ffc;
            display: block;
            height: 300px;
            width: 300px;
            padding: 1em;
            -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
            -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
            box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
            -moz-transition: -moz-transform .15s linear;
            -o-transition: -o-transform .15s linear;
            -webkit-transition: -webkit-transform .15s linear;
            transition: -webkit-transform .15s linear;
        }
        
.tutorial ul li {
            margin: 1em;
            float: left;
        }
        
.tutorial ul li h2 {
            font-size: 140%;
            font-weight: bold;
            padding-bottom: 10px;
        }
        
.tutorial ul li a {
            -webkit-transform: rotate(-6deg);
            -o-transform: rotate(-6deg);
            -moz-transform: rotate(-6deg);
            transform: rotate(-6deg);
        }
        
.tutorial ul li:nth-child(even) a {
            -o-transform: rotate(4deg);
            -webkit-transform: rotate(4deg);
            -moz-transform: rotate(4deg);
            transform: rotate(4deg);
            position: relative;
            top: 5px;
            background: #cfc;
        }
        
.tutorial ul li:nth-child(3n) a {
            -o-transform: rotate(-3deg);
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            transform: rotate(-3deg);
            position: relative;
            top: -5px;
            background: #ccf;
        }
        
.tutorial ul li:nth-child(5n) a {
            -o-transform: rotate(5deg);
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
            transform: rotate(5deg);
            position: relative;
            top: -10px;
        }
        
.tutorial ul li a.active{
            box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
            -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
            -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
            -webkit-transform: scale(3);
            -moz-transform: scale(3);
            -o-transform: scale(3);
            transform: scale(3);
            z-index: 5;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -100px;
            
        }
         .step{
           background-color: #555;
           padding: 10px 10px 10px 10px; 
         }

.rombo-score{
  background-color: #FF9800;
  border-color: #FF9100;
  color: #ffffff;
  border-radius:10px !important;
  box-shadow: 5px 5px 2px #555 !important;
}

.dark-font{
  color: #525E67 !important;
}



.div-success{
    border-color: #B388FF;
    color: #fff;
    background-color: #B388FF;
      border-radius:10px !important;

     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


}

.div-warning{
    border-color: #1DE9B6;
    color: #fff;
    background-color: #1DE9B6;
     box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
       border-radius:10px !important;

}

.div-info{
    border-color: #FFC400;
    color: #fff;
    background-color: #FFC400;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
       border-radius:10px !important;

}


.div-danger{
    border-color: #00E5FF;
    color: #fff;
    background-color: #00E5FF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius:10px !important;
}


.carousel-caption{
      top: 40%;
      left: 35%;
      bottom: auto;
  }

.white-font{
  color: #fff !important;
}

.swal-wide{
    width:850px !important;
}

.img-responsive{
  margin-bottom: 15px;
  margin-top: 15px;
}