.body-main {
	background-color: rgba(0,200,255,1);
	background-color: -moz-linear-gradient(top, rgba(0,200,255,1) 0%, rgba(0,255,255,1) 100%);
	background-color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,200,255,1)), color-stop(100%, rgba(0,255,255,1)));
	background-color: -webkit-linear-gradient(top, rgba(0,200,255,1) 0%, rgba(0,255,255,1) 100%);
	background-color: -o-linear-gradient(top, rgba(0,200,255,1) 0%, rgba(0,255,255,1) 100%);
	background-color: -ms-linear-gradient(top, rgba(0,200,255,1) 0%, rgba(0,255,255,1) 100%);
	background-color: linear-gradient(to bottom, rgba(0,200,255,1) 0%, rgba(0,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c8ff', endColorstr='#00ffff', GradientType=0 );
	
	color: white;
	font-family: 'Varela Round', sans-serif;

}