#avion{
position:fixed;
left:110%;
-webkit-animation: volar 15s infinite ease-in-out;
/*-moz-animation:volar 20s infinite;
-o-animation:volar 20s infinite;
-ms-animation:volar 20s infinite;
-khtml-animation:volar 20s infinite;*/
animation:volar 15s infinite ease-in-out;
}

@-webkit-keyframes volar{
0%{
left:-150px;
top:5px;
width:40px;
}
25%{
top:220px;
width:120px;
-moz-transform:rotate(-25deg);
-webkit-transform:rotate(-25deg);
}
50%{
top:10px;
width:200px;
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
}
75%{
top:230px;
width:120px;
-moz-transform:rotate(25deg);
-webkit-transform:rotate(25deg);
}
100%{
top:5x;
right: -150px;
width:200px;
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
}
}
/*
@-moz-keyframes volar{
0%{
left:-150px;
top:5px;
width:80px;
}
25%{
top:220px;
width:50px;
}
50%{
top:90px;
width:40px;
-moz-transform:rotate(-25deg);
-webkit-transform:rotate(-25deg);
}
75%{
top:230px;
width:65px;
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
}
100%{
margin-left:100px;
top:90px;
width:25px;
}
}

@-o-keyframes volar{
0%{
left:-150px;
top:5px;
width:80px;
}
25%{
top:220px;
width:50px;
}
50%{
top:90px;
width:40px;
-moz-transform:rotate(-25deg);
-webkit-transform:rotate(-25deg);
}
75%{
top:230px;
width:65px;
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
}
100%{
margin-left:100px;
top:90px;
width:25px;
}
}

@-ms-keyframes volar{
0%{
left:-150px;
top:5px;
width:80px;
}
25%{
top:220px;
width:50px;
}
50%{
top:90px;
width:40px;
-moz-transform:rotate(-25deg);
-webkit-transform:rotate(-25deg);
}
75%{
top:230px;
width:65px;
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
}
100%{
margin-left:100px;
top:90px;
width:25px;
}
}

@-khtml-keyframes volar{
0%{
left:-150px;
top:5px;
width:80px;
}
25%{
top:220px;
width:50px;
}
50%{
top:90px;
width:40px;
-moz-transform:rotate(-25deg);
-webkit-transform:rotate(-25deg);
}
75%{
top:230px;
width:65px;
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
}
100%{
margin-left:100px;
top:90px;
width:25px;
}
}

@keyframes volar{
0%{
left:-150px;
top:5px;
width:80px;
}
25%{
top:220px;
width:50px;
}
50%{
top:90px;
width:40px;
-moz-transform:rotate(-25deg);
-webkit-transform:rotate(-25deg);
}
75%{
top:230px;
width:65px;
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
}
100%{
margin-left:100px;
top:90px;
width:25px;
-moz-transform:rotate(25deg);
-webkit-transform:rotate(25deg);
}
}*/