body {
	font-family: 'Jaldi', sans-serif !important;
	background-color: black;
}

#vehicle {
	z-index: 100;
	position: absolute;
}

.btn-next {
	z-index: 100;
	position: absolute;
}

.selectable {
    cursor: pointer;
}

.selected {
    background-color:black;
}

